<div
  style="background-image: url({{ url_for('static', filename='background.jpg') }}); height:100vh; background-size:cover; display:flex;flex-direction:column;align-items:center">

  <h1 style="font-size:8rem;margin:22px">Speak Your Dream</h1>
  <section class="main-controls">
    <canvas class="visualizer" height="60px"></canvas>
    <div id="buttons">
      <button id=record>Record</button>
      <button id=stopRecord disabled>Stop</button>
    </div>
    <audio id=recordedAudio></audio>
  </section>

  <script>
    record.onclick = e => {
      record.disabled = true
      stopRecord.disabled = false
      audioChunks = []
      rec.start()
    }
    stopRecord.onclick = e => {
      record.disabled = false
      stopRecord.disabled = true
      rec.stop()
    }
    navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => { handlerFunction(stream) })
    function handlerFunction(stream) {
      rec = new MediaRecorder(stream)
      rec.ondataavailable = e => {
        audioChunks.push(e.data)
        if (rec.state == 'inactive') {
          let blob = new Blob(audioChunks, { type: 'audio/mp3' })
          recordedAudio.src = URL.createObjectURL(blob)
          recordedAudio.controls = true
          recordedAudio.autoplay = true
          sendData(blob)
        }
      }
    }
  </script>
</div>
<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700&display=swap");

  body {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0px
  }



  .btn:link,
  .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .5s;
  }

  .btn-white {
    background: #fff;
    color: #000;
  }

  .btn:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  .btn:active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }

  .btn-bottom-animation-1 {
    animation: comeFromBottom 1s ease-out .8s;
  }

  .btn::after {
    content: "";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    display: inline-block;
    z-index: -1;
    transition: all .5s;
  }

  .btn-white::after {
    background: #fff;
  }

  .btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  @keyframes comeFromBottom {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>