<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<link href="{{url_for('static', filename='custom.css')}}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">

<div
  style="background-image: url({{ url_for('static', filename='background.jpg') }}); height:100vh; background-size:cover; display:flex;flex-direction:column;align-items:center; justify-content:center">

  <h1>Speak Your Dream</h1>

  <div id="controls" style="display: flex;">
    <button class="play-btn" id="recordButton"><i style="font-size:30px;color:white;" class="fa fa-microphone"></i></button>
    <button id="pauseButton" class="play-btn" disabled><i style="font-size:30px;color:white;" class="fa fa-pause"></i></button>
    <button id="stopButton" class="play-btn" disabled><i style="font-size:30px;color:white;" class="fa fa-stop"></i></button>
    
   </div>
   <ol id="recordingsList"></ol>
  <script>
  URL = window.URL || window.webkitURL;

  var gumStream; 			
  var rec; 							
  var input; 					

  var AudioContext = window.AudioContext || window.webkitAudioContext;
  var audioContext

  var recordButton = document.getElementById("recordButton");
  var stopButton = document.getElementById("stopButton");
  var pauseButton = document.getElementById("pauseButton");

  recordButton.addEventListener("click", startRecording);
  stopButton.addEventListener("click", stopRecording);
  pauseButton.addEventListener("click", pauseRecording);

  function startRecording() {
    console.log("recordButton clicked");
      
      var constraints = { audio: true, video:false }

    recordButton.disabled = true;
    stopButton.disabled = false;
    pauseButton.disabled = false

    navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
      console.log("getUserMedia() success, stream created, initializing Recorder.js ...");

      audioContext = new AudioContext();
      gumStream = stream;
      input = audioContext.createMediaStreamSource(stream);

      rec = new Recorder(input,{numChannels:1})

      rec.record()

      console.log("Recording started");

    }).catch(function(err) {
        recordButton.disabled = false;
        stopButton.disabled = true;
        pauseButton.disabled = true
    });
  }

  function pauseRecording(){
    console.log("pauseButton clicked rec.recording=",rec.recording );
    if (rec.recording){
      rec.stop();
      pauseButton.innerHTML='<i style="font-size:30px;color:white;" class="fa fa-play"></i>';
    }else{
      rec.record()
      pauseButton.innerHTML='<i style="font-size:30px;color:white;" class="fa fa-pause"></i>';

    }
  }

  function stopRecording() {
    console.log("stopButton clicked");

    stopButton.disabled = true;
    recordButton.disabled = false;
    pauseButton.disabled = true;

    pauseButton.innerHTML='<i style="font-size:30px;color:white;" class="fa fa-pause"></i>';
    
    rec.stop();

    gumStream.getAudioTracks()[0].stop();

    rec.exportWAV(createDownloadLink);
  }

  function createDownloadLink(blob) {
    
    var url = URL.createObjectURL(blob);
    var au = document.createElement('audio');
    var li = document.createElement('li');
    var link = document.createElement('a');

    var filename = new Date().toISOString();

    au.controls = true;
    au.src = url;
    link.href = url;
    link.download = filename+".wav"; 
    link.innerHTML = '<a class="cta"><span>Submit</span><span><i class="fa fa-arrow-right"></i></span> </a>';

    
    
    au.addEventListener("click", function(event){
        var xhr=new XMLHttpRequest();
        xhr.onload=function(e) {
            if(this.readyState === 4) {
                console.log("Server returned: ",e.target.responseText);
            }
        };
        var fd=new FormData();
        fd.append("audio_data",blob, filename);
        xhr.open("POST","/save",true);
        xhr.send(fd);
    })
    li.appendChild(au);
    
    li.appendChild(link);

    recordingsList.appendChild(li);
  }
  </script>
</div>
<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700&display=swap");

  body {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0px
  }


</style>