
<link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

<!-- <div style="display: flex;justify-content: center;"><h1 style="font-size:100px">A</h1></div> -->
<div style="width:1200px;margin: auto;">
<div style="display: flex;">
    <div style="flex:1;background: white; margin:10px">
        <div class="panel panel-teal panel-widget">
            <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-blue"></em>
                <div class="large">120</div>
                <div class="text-muted">New Orders</div>
            </div>
        </div>
        <div class="panel panel-blue panel-widget">
            <div class="row no-padding"><em class="fa fa-xl fa-comments color-orange"></em>
                <div class="large">52</div>
                <div class="text-muted">Comments</div>
            </div>
        </div>
        <div class="panel panel-orange panel-widget">
            <div class="row no-padding"><em class="fa fa-xl fa-users color-teal"></em>
                <div class="large">24</div>
                <div class="text-muted">New Users</div>
            </div>
        </div>
        <div class="panel panel-red panel-widget ">
            <div class="row no-padding"><em class="fa fa-xl fa-search color-red"></em>
                <div class="large">25.2k</div>
                <div class="text-muted">Page Views</div>
            </div>
        </div>
    </div>
    <div style="flex:5;background-color: white;margin:10px">
    
    </div>
</div>



<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>New Orders</h4>
                <div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Comments</h4>
                <div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>New Users</h4>
                <div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Visitors</h4>
                <div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span></div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{url_for('static', filename='jquery-1.11.1.min.js')}}"></script>
<script src="{{url_for('static', filename='chart.min.js')}}"></script>
<script src="{{url_for('static', filename='chart-data.js')}}"></script>
<script src="{{url_for('static', filename='easypiechart.js')}}"></script>
<script src="{{url_for('static', filename='easypiechart-data.js')}}"></script>
